######################################################################
# seed.config (CR6606 / ramips mt7621)
# Purpose: Lean home LAN: HTTP LuCI, OpenSSL TLS (CA certs),
#          DoH/SmartDNS + Cloudflared, QoS and diagnostics,
#          mDNS + UPnP, web terminal; no USB/storage/VPN.
######################################################################

##### Target / Profile #####
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6606=y
